:root {
  --fuente: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--fuente);
  background-color: #222;
}

h1 {
  text-align: center;
  color: #eeee;
}
h2 {
  text-align: center;
  font-size: 2rem;
}
p {
  font-size: 1.7rem;
}
.title {
  width: min(50rem, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  gap: 1rem;
  padding: 1rem;
  object-fit: cover;
}
.general {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  background-color: #eeee;
  width: min(60rem, 95%);
  height: max-content;
  border-radius: 5rem;
  padding: 1rem;
  gap: 1rem;
}
.campo {
  background-color: rgba(0, 0, 0, 0.63);
  box-shadow: 0 3px 2px 2px #222;
  flex: 1 1 auto;
  height: 100%;
  padding: 1rem;
}
.campo:nth-child(1) {
  border-top-right-radius: 4rem ;
  border-top-left-radius:4rem ;
}
.campo:nth-child(3) {
  border-bottom-right-radius:4rem ;
  border-bottom-left-radius:4rem ;}

.campo_venta_compra {
  display: flex;
  padding: 1rem;
  width: 100%;
  gap: 1rem;
}
.eleccion,
.eleccion_salida {
  width: 50%;
  border-radius: 0.5rem;
}
.eleccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: var(--fuente);
  background-color: #22222271;
  padding: 1rem;
  transition: all ease 0.3s;
  padding-bottom: 2rem;
  height: max-content;
}
.eleccion_auto_actual {
  overflow-x: hidden;
  font-size: 1.5rem;
  color: #e6e6e6;
  margin-bottom: -2rem;
  background-color: #222;
  padding: .5rem
;width: 100%;
text-align: center;
border-radius: .5rem;
}
.eleccion label {
  margin-top: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: whitesmoke;
}
.eleccion input {
  text-align: center;
  padding: 1rem;
  width: min(20rem, 95%);
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid grey;
  font-size: 1.5rem;
  outline: unset;
}
.eleccion input:focus{ 
  transition: all ease-in 0.3s;
  background-color: rgba(0, 128, 0, 0.158);
border-radius: .5rem;

}

.eleccion_salida {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  background-color: #2222222c;
}
summary {
  color:#F2DCDC;
  background-color: #0000003f;
  padding:.5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.8rem;
  width:100%;
  text-align:center;
  border-radius:.5rem;
}
summary::marker {
color: green;
}
details {
  display:flex;
  flex-direction:column;
  gap:1rem;
  padding: 1rem;
  transition: all ease-out 0.3s;
  width:100%;
  padding:1rem;
}
details:nth-child(2) {
  border-top: .3rem double grey;
}
details::-webkit-scrollbar {
  display: none;
}
details[open] summary {
margin-top:1rem;
}
details[open] {
  overflow-y: auto;
  transition: all ease-in 0.3s;
  border-radius: 0.5rem;  
}

/* quitar el scrollbal pero creo que solo en chrome */

.centrar {
  display:flex;
  flex-direction:column;
  gap:1rem;
}
.caracteristicaAuto {
  width:90%;
}
details[open] .caracteristicaAuto {
  transition: all ease 0.3s;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 1rem;
  font-weight: bold;
}

details[open] .caracteristicaAuto:hover {
  box-shadow:1px 1px 1px 1px #222;
  background-color: lightblue;
  cursor: pointer;
  transform: scale(0.99);
  border-radius:.5rem;
  color:#222;
}
details[open] .caracteristicaAuto:nth-child(odd):hover {
    background-color: lightcoral;
    color:#222;
}
details[open]:nth-child(3) {
  height:max-content;
}
.boton_propietario {
  width: 100%;
  padding: 1rem;
  
}

.bg_buton_propietario {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 90%;
}
/* segunda seccion */

.detalle_summary {
padding: 1rem;
width: 95%;
margin: 0 auto;
}
.contenedor_disponibles {
  display: flex;
  flex-direction: row;
  align-items:center;
  gap: 1rem;
  height: 100%;
  width: 100%;
  
}
.autos_disponibles h2 {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  
}
.autos_disponibles {
  display: flex;
  flex-direction: column;
  font-family: var(--fuente);
  color: white;
  width: 100%;
  padding: 1rem;
  text-transform: capitalize;
}

.detalles_coche {
  display: flex;
  flex-direction: column;
}
.detalles_coche p {
  font-size: 1.5rem;
  padding: 1rem;
  background-color: #22222293;
}
.detalles_coche span {
  color: green;
}
.detalles_coche p:nth-child(odd) {
  background-color: #2222224f;
}
.boton_disponibles {
  width: 100%;
}

.boton {
  border: medium;
  cursor: pointer;
  font-weight: bold;
  color: #222;
  font-size: 1.5rem;
  border-radius: .5rem;
  outline: none;
}
.boton:focus {
  outline: 2px solid green;
  outline-offset: 2px;
}

.bg-boton-encender {
  display: flex;
  flex-flow: wrap row;
  align-content: center;
  height: 100%;
  gap: 1rem;
  padding: 1rem;

}

#encender,
#verAuto {
  flex: 1 1 25rem;
  height: 5rem;
}

#encender:active,
#verAuto:active {
  background-color: greenyellow;
} 
.boton_encender:active {
  transform: scale(0.95);
}

.boton:active {
  transform: scale(0.95);  box-shadow: unset;
}

@media (max-width:40rem) {
  dialog {
    margin-top: 5.5rem;
  }
    .general {
    margin-top: 1rem;
    border-radius: .5rem;
    }
    .campo {
      border-radius: 1rem;
    }
    .campo_venta_compra {
    flex-direction: column;
    height: 100%;
    } 
    .eleccion_salida,.eleccion {
    width: 100%;
    }
    .eleccion {
    justify-content: center;
    background-color: #2222224f;
    height: 30rem;
    }
    .eleccion input {
    padding: 2rem;
    }
    .boton_propietario {
    margin-top: 1.5rem;
    width: 90%;
    padding: 2.5rem;
    }
    #encender,
    #verAuto{
    height: 5rem;
    }  
    #carroNuevo  {
      width: 95%;
    }
}
.detalles ,.eleccion_info{
  color: #eeee;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  background-color: #eeeeee17;
  padding: .5rem;
  margin-top: 1rem;
  border-radius: .5rem;
}



/* Dialog */
.mostrarLosAutos {
  overflow-y:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #2222222c;
  height: 100%;
  border-radius: .5rem;
}
.mostrarLosAutos_campo {
  width: 95%;
  background-color:#222;
  box-shadow: 0 2px 1px 1px #e6e6e6;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: .5rem;
  color: #e6e6e6;
}
.mostrarLosAutos_campo:hover {
  transition: transform ease-out .2s;
  transform: scale(1.05);
}
#CerrarDlg,#cerrardialognuevo {
  text-transform: uppercase;
  padding: 1rem;
  cursor: pointer;
  border-radius: .5rem;
  border: medium;
  color: #eee;
  background-color: #007bff;
  font-size: 1.4rem;
  font-weight: bold;
}
#CerrarDlg:hover {
  opacity: 90%;
}
#CerrarDlg:active {
  transform: scale(0.95);
}


dialog {
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  gap: 1rem;
  position: fixed; /* Fija la posici칩n relativa a la ventana del navegador */
  top: 40%;        /* Mueve el borde superior al 50% de la altura de la ventana */
  left: 50%;       /* Mueve el borde izquierdo al 50% del ancho de la ventana */
  transform: translate(-50%, -50%); /* Ajusta el elemento hacia atr치s la mitad de su propio ancho/alto */
  /* Otros estilos */
  padding:2rem;
  background-color: grey;
  border: none;
  z-index: 100;
  width: min(50rem,95%);
  height: 50rem;
  border-radius: .5rem;
}
#miDialog::-webkit-scrollbar,.mostrarLosAutos::-webkit-scrollbar {
  display: none;
}
dialog header {
  letter-spacing: 1px;
  text-align: center;
  padding: 1.5rem;
  background-color:rgb(185, 181, 181);
  color: #222;
}

dialog header h2 {
  text-transform: uppercase;
  margin: 0;
  font-size: 1.4rem;
}

dialog header button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Estilo del contenido del di치logo */
dialog p {
  text-align: center;
  font-weight: bold;
  padding: 1.5rem;
  color: #222;
}

/* Estilo del footer o botones de acci칩n */
dialog footer {
  padding: 10px 20px;
  text-align: right;
  border-top: 1px solid #eee;
}

dialog footer button {
  margin-left: 10px;
  background-color: #ddd;
}

/* Estilo del fondo oscuro (backdrop) */
dialog::backdrop {
  background-color: black;
  transition: backdrop-filter 0.3s ease-out;
}
#abrirdialogauto {
  margin:0 auto;
  width: 95%;
  color: #222;
  padding: 1rem;
}
#agregarNuevoCoche{
  font-family: var(--fuente);
  padding: 1rem;
  font-weight: bold;
  border: medium;
  cursor: pointer;
  width: 100%;
  border-radius: .5rem;
}
#agregarNuevoCoche:active{
  transform: scale(.95);
  border-radius: .5rem;
}

#carroNuevo {
height: max-content;
}

.newCar {
  margin:0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
.botones_newcar {
  width: 100%;
  display: flex;
  gap: 1rem;
}
.campo_newcar {
  display: flex;
  place-content: center;
  background-color: #22222271;
  gap:1rem;
  padding: 1rem;
  flex: 1 1;
border-radius: .5rem;
}
.newCar label {
  box-shadow: 1px 2px 1px 1px #222;
  width: 100%;
  text-align:center;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: lightblue;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.newCar input {
  font-family: var(--fuente);
  font-weight: bold;
  color: #222;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgba(211, 211, 211, 0.719);
  border: medium;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  outline: none;
}
#carroNuevo p {
  font-size: 1.1rem !important;
}
.newCar input:focus {
  transition: all ease .3s;
  background-color: transparent;
  outline: 3px solid indianred;
  outline-offset:  .2rem;
    color: #e6e6e6;

}
span {
  color: green;
}


#carroNuevo p {
  text-transform: uppercase;
  background-color: #2222222c;
  font-size: 1.4rem;
    border-radius: .5rem;
color: #e6e6e6;
}